.cart {
  justify-content: space-evenly;
}

.cart-item {
  display: flex;
  width: 100%;
}

.image-cart {
  background-position: left;
  width: 30%;
}

.cart div {
  width: 100%;
}

.total-price {
  text-align: center;
}

.item_info {
  display: flex;
  align-items: center;
}

.remove_button {
  display: flex;
  align-items: center;
}
