.Home_Head {
  width: 100%;
  font-size: 1.4rem;
  margin-top: 1.4rem;
  margin-bottom: 2.5rem;
  display: flex;
}

.shop {
  width: 70%;
  text-align: center;
  padding-left: 15%;
}

.cart_image {
  background-image: url("../assets/cart.png");
  background-repeat: no-repeat;
  background-position: right;
  width: 10%;
  height: 5vh;
}

.Home_navbar {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding: 0 30%;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.outwear {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 70vh;
  align-items: center;
}

.img_common {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;
  width: 100%;
}

.mens_outwear_img {
  background-image: url("../assets/mens_outerwear.jpg");
}

.ladies_outwear_img {
  background-image: url("../assets/ladies_outerwear.jpg");
}

.t-shirt {
  display: flex;
  flex-direction: row;
  height: 70vh;
  width: 100%;
}

.mens_t-shirt_img {
  background-image: url("../assets/mens_tshirts.jpg");
}

.ladies_t-shirt_img {
  background-image: url("../assets/ladies_tshirts.jpg");
}

.link {
  text-decoration: none;
  color: black;
  margin-right: 20px;
}

.link:hover {
  color: grey;
}

.activeLink {
  border-bottom: 2px solid black;
}

@media (max-width: 900px) {
  .Home_Head {
    margin: 0;
    margin-top: 1rem;
  }
  .Home_navbar {
    font-size: 0.5rem;
    font-weight: bolder;
    justify-content: space-between;
    padding-left: 25%;
  }

  .outwear {
    height: 50vh;
    font-size: 1.5rem;
  }
  .img_common {
    height: 30vh;
  }
  .outwear button {
    padding: 15px 50px;
  }
}
@media (max-width: 764px) {
}
