.ladies_outwear_img1 {
  background-image: url("../assets/ladies_outwear/img1.jpg");
}

.ladies_outwear_img2 {
  background-image: url("../assets/ladies_outwear/img2.jpg");
}

.ladies_outwear_img3 {
  background-image: url("../assets/ladies_outwear/img3.jpg");
}

.ladies_outwear_img4 {
  background-image: url("../assets/ladies_outwear/img4.jpg");
}

.ladies_outwear_img5 {
  background-image: url("../assets/ladies_outwear/img5.jpg");
}

.ladies_outwear_img6 {
  background-image: url("../assets/ladies_outwear/img6.jpg");
}
