.ladies_t_shirt_img1 {
  background-image: url("../assets/ladies_t-shirt/img1.jpg");
}
.ladies_t_shirt_img2 {
  background-image: url("../assets/ladies_t-shirt/img2.jpg");
}
.ladies_t_shirt_img3 {
  background-image: url("../assets/ladies_t-shirt/img3.jpg");
}
.ladies_t_shirt_img4 {
  background-image: url("../assets/ladies_t-shirt/img4.jpg");
}
.ladies_t_shirt_img5 {
  background-image: url("../assets/ladies_t-shirt/img5.jpg");
}
.ladies_t_shirt_img6 {
  background-image: url("../assets/ladies_t-shirt/img6.jpg");
}
.ladies_t_shirt_img7 {
  background-image: url("../assets/ladies_t-shirt/img7.jpg");
}
.ladies_t_shirt_img8 {
  background-image: url("../assets/ladies_t-shirt/img8.jpg");
}
.ladies_t_shirt_img9 {
  background-image: url("../assets/ladies_t-shirt/img9.jpg");
}
.ladies_t_shirt_img10 {
  background-image: url("../assets/ladies_t-shirt/img10.jpg");
}
.ladies_t_shirt_img11 {
  background-image: url("../assets/ladies_t-shirt/img11.jpg");
}
.ladies_t_shirt_img12 {
  background-image: url("../assets/ladies_t-shirt/img12.jpg");
}
.ladies_t_shirt_img13 {
  background-image: url("../assets/ladies_t-shirt/img13.jpg");
}
.ladies_t_shirt_img14 {
  background-image: url("../assets/ladies_t-shirt/img14.jpg");
}
.ladies_t_shirt_img15 {
  background-image: url("../assets/ladies_t-shirt/img15.jpg");
}
.ladies_t_shirt_img16 {
  background-image: url("../assets/ladies_t-shirt/img16.jpg");
}
.ladies_t_shirt_img17 {
  background-image: url("../assets/ladies_t-shirt/img17.jpg");
}
.ladies_t_shirt_img18 {
  background-image: url("../assets/ladies_t-shirt/img18.jpg");
}
.ladies_t_shirt_img19 {
  background-image: url("../assets/ladies_t-shirt/img19.jpg");
}
