.mens_t_shirt_img1 {
  background-image: url("../assets/mens_t-shirt/img1.jpg");
}
.mens_t_shirt_img2 {
  background-image: url("../assets/mens_t-shirt/img2.jpg");
}
.mens_t_shirt_img3 {
  background-image: url("../assets/mens_t-shirt/img3.jpg");
}
.mens_t_shirt_img4 {
  background-image: url("../assets/mens_t-shirt/img4.jpg");
}
.mens_t_shirt_img5 {
  background-image: url("../assets/mens_t-shirt/img5.jpg");
}
.mens_t_shirt_img6 {
  background-image: url("../assets/mens_t-shirt/img6.jpg");
}
.mens_t_shirt_img7 {
  background-image: url("../assets/mens_t-shirt/img7.jpg");
}
.mens_t_shirt_img8 {
  background-image: url("../assets/mens_t-shirt/img8.jpg");
}
.mens_t_shirt_img9 {
  background-image: url("../assets/mens_t-shirt/img9.jpg");
}
.mens_t_shirt_img10 {
  background-image: url("../assets/mens_t-shirt/img10.jpg");
}
.mens_t_shirt_img11 {
  background-image: url("../assets/mens_t-shirt/img11.jpg");
}
.mens_t_shirt_img12 {
  background-image: url("../assets/mens_t-shirt/img12.jpg");
}
.mens_t_shirt_img13 {
  background-image: url("../assets/mens_t-shirt/img13.jpg");
}
.mens_t_shirt_img14 {
  background-image: url("../assets/mens_t-shirt/img14.jpg");
}
.mens_t_shirt_img15 {
  background-image: url("../assets/mens_t-shirt/img15.jpg");
}
.mens_t_shirt_img16 {
  background-image: url("../assets/mens_t-shirt/img16.jpg");
}
.mens_t_shirt_img17 {
  background-image: url("../assets/mens_t-shirt/img17.jpg");
}
.mens_t_shirt_img18 {
  background-image: url("../assets/mens_t-shirt/img18.jpg");
}
.mens_t_shirt_img19 {
  background-image: url("../assets/mens_t-shirt/img19.jpg");
}
.mens_t_shirt_img20 {
  background-image: url("../assets/mens_t-shirt/img20.jpg");
}
.mens_t_shirt_img21 {
  background-image: url("../assets/mens_t-shirt/img21.jpg");
}
.mens_t_shirt_img22 {
  background-image: url("../assets/mens_t-shirt/img22.jpg");
}
.mens_t_shirt_img23 {
  background-image: url("../assets/mens_t-shirt/img23.jpg");
}
.mens_t_shirt_img24 {
  background-image: url("../assets/mens_t-shirt/img24.jpg");
}
.mens_t_shirt_img25 {
  background-image: url("../assets/mens_t-shirt/img25.jpg");
}
.mens_t_shirt_img26 {
  background-image: url("../assets/mens_t-shirt/img26.jpg");
}
.mens_t_shirt_img27 {
  background-image: url("../assets/mens_t-shirt/img27.jpg");
}
.mens_t_shirt_img28 {
  background-image: url("../assets/mens_t-shirt/img28.jpg");
}
.mens_t_shirt_img29 {
  background-image: url("../assets/mens_t-shirt/img29.jpg");
}
.mens_t_shirt_img30 {
  background-image: url("../assets/mens_t-shirt/img30.jpg");
}
.mens_t_shirt_img31 {
  background-image: url("../assets/mens_t-shirt/img31.jpg");
}
.mens_t_shirt_img32 {
  background-image: url("../assets/mens_t-shirt/img32.jpg");
}
.mens_t_shirt_img33 {
  background-image: url("../assets/mens_t-shirt/img33.jpg");
}
.mens_t_shirt_img34 {
  background-image: url("../assets/mens_t-shirt/img34.jpg");
}
.mens_t_shirt_img35 {
  background-image: url("../assets/mens_t-shirt/img35.jpg");
}
.mens_t_shirt_img36 {
  background-image: url("../assets/mens_t-shirt/img36.jpg");
}
.mens_t_shirt_img37 {
  background-image: url("../assets/mens_t-shirt/img37.jpg");
}
.mens_t_shirt_img38 {
  background-image: url("../assets/mens_t-shirt/img38.jpg");
}
.mens_t_shirt_img39 {
  background-image: url("../assets/mens_t-shirt/img39.jpg");
}
.mens_t_shirt_img40 {
  background-image: url("../assets/mens_t-shirt/img40.jpg");
}
